.button1 {
    background-color: red;
}

.button1:hover {
    background-color: blue;
    cursor: pointer;
}

.button1:active {
    background-color: green;
}

.button2 {
    background-color: red;

    &:hover {
        background-color: blue;
        cursor: pointer;
    }

    &:active {
        background-color: green;
    }
}

.list {
    background-color: bisque;
    border-bottom: 1px solid black;
}

/* .list:nth-child(2n) {
    background-color: rgb(247, 161, 56);
} */

.list:only-child {
    /* background-color: red; */
    border-bottom: none;
}

.list:lang(en) {
    background-color: blueviolet;
}

button {
    background-color: red;

    &:not(.special) {
        background-color: gold;
    }
}

.link {
    &:link {
        color: aqua;
    }

    &:visited {
        color: gold;
    }

    &:hover {
        color: green;
    }

    &:active {
        color: blueviolet;
    }
}